{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url admin_index %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url admin_app_list app_label %}">{{ app_label|capfirst|escape }}</a> &rsaquo;
    <a href="{{ changelist_link }}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    <a href="{{ change_link }}">{{ object }}</a> &rsaquo;
    {% trans "Geo" %} {{ geo_type|capfirst }}
</div>
{% endblock %}

{% block content %}
<h1>{{ object }}</h1>
<div id="content-main">
    {% block object-tools %}
      <ul class="object-tools">
        <li><a href="{{ change_link }}" class="viewsitelink">Back to {{ object }}</a></li>
      </ul>
    {% endblock %}

    <form onSubmit="return false;">
        <input type="text" id="id_address">
        <input type="submit" value="Center the map" onclick="move_to_geocode();">
    </form>

    <form action="." method="post">
        <fieldset class="module aligned">
            <div class="form-row point">
                {{ form.as_table}}
            </div>

        </fieldset>
        <div class="submit-row" >
            <input type="submit" value="Save" class="_save">
        </div>
    </form>
</div>

<script type="text/javascript">
     function move_to_geocode(){
         geodjango_func = eval('geodjango_' + jQuery('span[id$=_admin_map]').attr('id').split('_')[1])
         address = jQuery("#id_address")[0].value;
         gkey = "{{ google_key }}";
         google_geocoder_query = "http://maps.google.com/maps/geo?q="+address+"&output=json&oe=utf8&sensor=false&key=" + gkey + "&callback=?";
         jQuery.getJSON(google_geocoder_query,
                        function(data){
                         lon = data["Placemark"][0]["Point"]["coordinates"][0];
                         lat = data["Placemark"][0]["Point"]["coordinates"][1];
                         zoom_lvl = 15;
                         console.log(" lon : " + lon +"lat : "+ lat);
                         geocoder_projection = new OpenLayers.Projection("EPSG:4326")
                         lonlat = new OpenLayers.LonLat(lon, lat);
                         lonlat.transform(geocoder_projection,geodjango_func.map.getProjectionObject());
                         
                         if (geodjango_func.is_point) {
                             $("#id_point").text("POINT (" + lonlat.lon + ' ' + lonlat.lat + ")");
                             var wkt = "POINT (" + lonlat.lon + ' ' + lonlat.lat + ")";
                             var admin_geom = geodjango_func.read_wkt(wkt);
                             geodjango_func.layers.vector.addFeatures([admin_geom]);
                         }
                         geodjango_func.map.setCenter(lonlat, zoom_lvl);
                        })


     }

</script>
{% endblock %}
